.dash_chart{
    height: 100%;
   
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
  }

  
  .dash_chart{
    height: 400px;
  }
    
  .dash_chart2{
    margin-top: 3px;
    height: 100px;
  }
  .dash_chart3{
    margin-top: 3px;
    height: max-content;
    align-items: center;
  }
  .dash_chart4{
    margin-top: 3px;
    text-align: start;
    height: max-content;
  }

  .MuiOutlinedInput-input{

    font-size: small !important; 
  }